openapi: 3.0.0
info:
  title: Nexlayer API
  description: |
    API for the Nexlayer Application. For detailed information about the YAML configuration format and examples, please visit our [Nexlayer Deployment YAML repository](https://github.com/Nexlayer/nexlayer-deployment-yaml).
  version: 1.0.0

servers:
  - url: https://app.nexlayer.io

paths:
  /extendDeployment:
    post:
      summary: Extend Deployment
      description: Extend a deployment given a nexlayer token and namespace
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extendDeploymentResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extendDeploymentRequestBody'

  /startUserDeployment/{sessionToken}:
    post:
      summary: Start User Deployment
      description: |
        This endpoint accepts a YAML file as input. Example usage with curl:
        ```bash
        curl -X POST "https://app.nexlayer.io/startUserDeployment" \
          -H "Content-Type: text/x-yaml" \
          --data-binary @nexlayer.yaml
        ```
      parameters:
        - name: sessionToken
          in: path
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startUserDeploymentResponse'
      requestBody:
        required: true
        content:
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/startUserDeploymentRequestBody'

  /feedback:
    post:
      summary: Send Feedback
      description: Send feedback to Nexlayer
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/feedback'

  /getPodsStatus:
    post:
      summary: Get Pods Status
      description: Get pods status for a deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPodsStatusResponse'
        '500':
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPodsStatusRequestBody'

components:
  schemas:
    startUserDeploymentResponse:
      type: object
      properties:
        message:
          type: string
          example: "Deployment started successfully"
        url:
          type: string
          example: "https://fantastic-fox-my-mern-app.alpha.nexlayer.ai"
        sessionToken:
          type: string
          example: "<token>"
        applicationName:
          type: string
          example: "My Mern App"
        status:
          type: object
          properties:
            environment:
              type: string
              example: "<Notes about the environment>"
        extend:
          type: object
          properties:
            message:
              type: string
              example: "<message-regarding-extending-deployment>"
            extendURL:
              type: string
              example: "<curl-command-to-extend-deployment>"
        claim:
          type: object
          properties:
            message:
              type: string
              example: "<message-regarding-claiming-deployment>"
            claimURL:
              type: string
              example: "<curl-command-to-claim-deployment>"
        info:
          type: string
          example: "<additional-information>"
      required:
        - message
        - url
        - sessionToken
        - applicationName
        - status

    feedback:
      type: object
      properties:
        text:
          type: string
          example: "Sample text"
      required:
        - text

    extendDeploymentRequestBody:
      type: object
      properties:
        applicationName:
          type: string
          example: "My MERN App"
        sessionToken:
          type: string
          example: "<token-recieved-from-starting-a-deployment>"
      required:
        - applicationName
        - sessionToken

    extendDeploymentResponse:
      type: object
      properties:
        message:
          type: string
          example: "Application My MERN App has been extended. Environment will expire in 120 minutes. 2 extension(s) remaining."
      required:
        - message

    getPodsStatusRequestBody:
      type: object
      properties:
        sessionToken:
          type: string
          example: "<token-recieved-from-starting-a-deployment>"
        applicationName:
          type: string
          example: "My Mern App"
      required:
        - sessionToken
        - applicationName

    getPodsStatusResponse:
      type: object
      properties:
        pods:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "my-pod"
              status:
                type: string
                example: "running"
            required:
              - name
              - status
      required:
        - pods

    startUserDeploymentRequestBody:
      type: string
      format: binary
      description: "The uploaded file must be a valid YAML file." 